.activity-display {
    /*overflow: hidden;*/
    /*min-height: 30em;*/
    /*width: auto;*/
    /*border: 1px solid #417d7a;*/
    /*background-color: white;*/
    /*border-radius: 0.3em;*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: white;
    margin: 4em 0;
    padding: 0;
}

.title-style {
    color: #1a3c40;
    /*width: 100%;*/
}

.hr-style {
    border: 0.15em solid #1a3c40;
    width: 100%;
}
.summaries-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em 2em;
    /*justify-content: center;*/
    width: 100%;
}
.segments-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em 2em;
    /*justify-content: center;*/
    width: 100%;
}

.info-wrapper {
    /*padding: 0;*/
    /*margin: 0;*/
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 3em;
}

.info-bottom p {
    margin-top: 0.5em;
}

.date-header-style {
    color: #ede6db;
    border: 1px solid #1a3c40;
    border-radius: 8px;
    /*font-size: 4em;*/
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #1a3c40;
    margin: 4em 0;
    padding: 2em 1em;
}

.date-header-style h1 {
    margin: 0;
}

@media (max-width: 576px) {
    .summaries-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin: 2em 2em;
        width: 100%;
    }
    .segments-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin: 2em 2em;
        width: 100%;
    }
    .date-header-style h1 {
        font-size: 1.4em;
    }



}
